@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gothic+A1:wght@300&family=Harmattan:wght@700&family=M+PLUS+2&family=Montagu+Slab:wght@100;200;300;600;700&family=Open+Sans:ital,wght@1,400;1,500;1,600;1,700&family=Outfit:wght@300&family=Rubik&family=Shippori+Antique&display=swap');
*{
    margin: 0;
    padding: 0;
}
.box-grid{
    width: 580px;
    margin: 0 auto;
  }

.cabecalho-img{
    width: 250px;
    height: 250px;
    border-radius: 50% ;
}
 header{
     align-items: center;
     width: 0 auto;
     justify-content: center;
     text-align: center;
     display: flex;
     flex-direction: column;
     color:#EEFCF7;
     font-family: 'Outfit', sans-serif;
     font-size: 30px;
 }
 nav{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.link{
   background-color: #04012e;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 15px;
    padding: 14px 0px;
    text-align: center;
    text-decoration: none;
    color:#EEFCF7 ;
    font-size: 29px;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
}

.link:hover{
    background-color: #EEFCF7 ;
    color: #04012e;
}

 .btn:hover{
     background-color: #EEFCF7 ;
     color: #04012e;
 }
body{
    font-family:'Outfit', sans-serif; 
    background-color: #EEFCF7;
    background-image: linear-gradient(0deg, rgba(38, 72, 134, 0.034),#3a599c28) , url(../pac-man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center

}

.font-icons{
    font-size: 60px;
    color: #EEFCF7; 
}

.footer{
        justify-content:space-evenly;
        display:  flex;
 }